{
  "project_info": {
    "project_number": "000000000000",
    "project_id": "your-firebase-project",
    "storage_bucket": "your-firebase-project.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:000000000000:android:0000000000000000000000",
        "android_client_info": {
          "package_name": "com.zixflow.demo"
        }
      },
      "api_key": [
        {
          "current_key": "REPLACE_WITH_FIREBASE_API_KEY"
        }
      ]
    }
  ],
  "configuration_version": "1"
}
