# APNs push — add inside your app target in ios/Podfile
#
# target 'ZixflowRNDemo' do
#   config = use_native_modules!
#   use_react_native!(:path => config[:reactNativePath])
#
#   pod 'zixflow-reactnative/apn', :path => '../node_modules/zixflow-reactnative'
# end
