# FCM push — add at top of ios/Podfile, then inside your app target
#
# use_frameworks! :linkage => :static
#
# target 'ZixflowRNDemo' do
#   config = use_native_modules!
#   use_react_native!(:path => config[:reactNativePath])
#
#   pod 'zixflow-reactnative/fcm', :path => '../node_modules/zixflow-reactnative'
# end
